.blue{
  height: 200px;
  width: 200px;
  background-color: blue;
  position:absolute;
  left: 200px;
  top: 200px;
}
body{
  margin: 0;
}
.red{
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  top: 400px;
  left:400px;

}

.yellow{
  margin-top: 0;
  margin-left: 0;
  height: 200px;
  width: 200px;
  background-color: yellow;
  }
